<!DOCTYPE html>
<html>
  <head>
    <title>Django Public Blog - создать статью</title>
    <link rel="stylesheet" href="{{STATIC_URL}}/static/style.css" />
  </head>
  <body>
    <div class="content">
      <h1>Написать статью</h1>
      <div class="form">
      <form method="POST">
        {% csrf_token %}
        <input class="input"
          type="text"
          name="title"
          placeholder="Название статьи"
          value="{{ form.title }}"
        />
      </div>
      <div class="form">
        <textarea class="textarea" name="text" placeholder="Текст статьи">{{ form.text }}</textarea
        >
      </div>
      <div class="form">
        <input class="button" type="submit" value="Сохранить" />
      </form>
      <a class="button back" href="/">Вернуться к архиву</a>
    </div>
    </div>
    <div class="errors">
      {{ form.errors }}
    </div>
  </body>
</html>
